div.copyMtmObjectDialog {
  width: 500px;
  padding: 0.2rem;

  a.btn {
    float: right;
    margin: 2rem 1rem 1rem 1rem;
  }

  .copyNote {
    margin-top: 1rem;
  }
}

div.mtmCopyContainer, div.mtmCopyTag {
  #Piwik_Popover {
    overflow: visible;
  }
}